/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* nav-bar starts */
.navbar {}

.nav-logo {
    text-align: left;
}

.nav-logo img {
    width: 120px;
    height: 140px;
    border: 2px solid white;
    border-radius: 50%;

}

.nav-heading {
    margin-top: 30px;
    /* padding: 10px 0 0 0; */
}

.nav-heading h1 {
    padding: 10px 5px 0px 5px;
    text-align: center;

}

.nav-menu {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;

}

.nav-menu a {

    /* background-color: ; */
    padding: 5px 10px;
    margin: 20px 0px;
    font-size: 22px;
    background-color: transparent;
}

/* nav-bar ends */

/* profile starts */
.profile .top-weather-icon {
    right: 100px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .top-weather-icon:hover {
    width: 150px;
}

.profile-desc p {
    text-align: center;
    width: 50%;
    margin: 0px auto 10px auto;
}


.profile .bottom-weather-icon {
    left: 140px;
    bottom: 20px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .bottom-weather-icon:hover {
    width: 150px;
}

.profile::after {
    content: "";
    display: table;
    clear: both;
}

/* profile ends */

/* about me starts */
.about-me {}

.about-me-img {
    margin-top: 100px;
}

.about-me-desc {}

.about-me-desc p {
    text-align: left;
}


/* about me ends */

/* Experience and skills starts */
.Experience-cards {
    padding: 1% 1%;
}

.card-desc ul {
    padding: 20px 40px;
}

/* Experience and skills ends */

/* Achievement and contact me starts */
.achievement {
    padding-right: 50px;
}

.contact button {
    width: 150px;
}

.contact-links {
    position: relative;
}

.media-buttons {
    position: absolute;
    margin-top: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Achievement and contact me ends */

/* footer starts */
.footer-menu {
    margin-top: 12px;
}

.footer-menu a {
    display: inline;
    margin: 10px;
}

.footer-desc {
    margin-top: 10px;
}

/* footer ends */